@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

html:not([data-scroll='0']) {
  .my-navbar {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }

  #top-page{
    display: block;

  }
} 

.my-navbar {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

#top-page{
  display: none;

}